/* for all pages */

body {
    background-image: url('https://cdn.pixabay.com/photo/2015/12/03/08/50/paper-1074131__340.jpg');
}


/* home.html */

.jumbotron {
    background-image: url('https://cdn.pixabay.com/photo/2018/08/23/07/35/thunderstorm-3625405__340.jpg');
    background-size: 100% 100%;
}

.img {
    width: 15em;
    margin: auto;
}

.home {
    font-family: 'Dancing Script', cursive;
}


/* about.html */

.card {
    min-width: 15em;
    border-radius: 1em;
    border: 0.3em solid blueviolet;
    box-shadow: 0.5em 0 1em blueviolet, -0.5em 0 1em blueviolet;
}

.card-body {
    background-color: rgb(0, 139, 139);
    background-color: rgba(0, 139, 139, 0.5);
}

.first {
    background-image: url("../img/job2.jpg");
    background-size: 100% 100%;
}

.about {
    font-family: 'Chilanka', cursive;
}


/* contact.html */

h1 {
    font-family: 'Piazzolla', serif;
}

.form {
    width: 30em;
    margin: auto;
    background-color: #0228BB;
    border-radius: 1em;
    border: 0.3em solid blueviolet;
    box-shadow: 0.5em 0 1em blueviolet, -0.5em 0 1em blueviolet;
}

textarea {
    resize: none;
}


/* surprise :)  */

a,
.check {
    cursor: url(../img/too237.cur), auto;
}

sub,
.purposes {
    text-decoration: underline;
}